body {
    background-image: url("images/sys.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.head-1 {
    background-image: linear-gradient(to left, blue, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    text-decoration: underline;
}

.sun {
    width: 190px;
    position: relative;
    top: 240px;
    left: 855px;
}

.mars {
    width: 130px;
    position: relative;
    border-top-left-radius: 20px;
    left: 45px;
    top: 50px;
    animation: revolve;
}

.img-mars {
    width: 400px;
    position: relative;
    top: 50px;
    left: 100px;
    float: left;
    animation-name: mars-rotate;
    animation-duration: 10s;
}

.tb {
    color: white;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

table,th,td {
    border: 2px solid white;
}

th {
    color: white;
}

table {
    position: relative;
    left: 100px;
    top: 40px;
    width: 1200px;
    height: 400px;
    background-image: url("images/space.jpg");
}

td {
    text-align: center;
}

@keyframes mars-rotate {
    100%{transform: rotateZ(360deg);}
}

.img-sun {
    width: 400px;
    position: relative;
    top: 50px;
    left: 100px;
    float: left;
    animation-name: mars-rotate;
    animation-duration: 10s;
}
 
@keyframes revolveAroundObject {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .revolving-image {
    width: 100px;
    height: 100px;
    position: relative;
    left: 660px;
    margin: 50px;
    animation: revolveAroundObject 6s ease-out;
    transform-origin: 50% 300px;
  }

.main-line {
    color: white;
    width: 100%;
    text-decoration: wavy;
    text-decoration-line: underline;
}

.holder {
    /* Clip edges, as some of the lines don't terminate nicely. */
    overflow: hidden;
    position: relative;
    height: 50px;
  }
  
  .ellipse {
    position: absolute;
    background: radial-gradient(ellipse, transparent, transparent 7px, white 7px, white 10px, transparent 11px);
    background-size: 36px 40px;
    width: 100%;
    height: 20px;
  }
  
  .ellipse2 {
    top: 20px;
    left: 18px;
    background-position: 0px -20px;
  }